node_modules
*.log
.next
app
dist
_results_
playwright-report
renderer/.next
release
*.tsbuildinfo

release/**/**

# Sentry Config File
.env.sentry-build-plugin
# dotenv local files
.env*.local

# local folder
local

# vercel
.vercel

# Sentry
.sentryclirc
