/*body > *:not(#donotblur) {*/
/*  filter: blur(3px);*/
/*}*/
body > #donotblur {
  filter: none;
}
#donotblur {
  filter: none;
}
.donotblur {
  filter: none;
}
#blur {
  filter: blur(3px);
}
.blur {
  filter: blur(3px);
}
